@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #231f20;
    text-align: left;
}

a {
    text-decoration: none;
    color: #231f20;
    font-size: large;
}

a:hover {
    font-weight: bold;
}

.about p {
    margin-right: 70px;
    text-align: justify;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    align-items: center;
    padding: 5px 20px;
}

nav ul {
    padding-left: 0px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.hero {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #231f20;
    align-items: center;
}

.photo {
    padding: 20px;
}

.photo img {
    border-radius: 15%;
}

.about {
    color: #eaeaea;
}

.container-flex {
    background-color: #ad974f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-hobby {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.hobby {
    width: 210px;
    background-color: #eaeaea;
    border-radius: 5%;
    padding: 5px;
    align-items: center;
}

.hobby img {
    border-radius: 5%;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    align-items: center;
}

.hobby-detail {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.hobby-detail p {
    font-weight: bold;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

footer {
    background-color: #231f20;
    color: #eaeaea;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer h5 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
    }

    .photo {
        padding-bottom: 0px;
    }

    .about h2 {
        text-align: center;
    }

    .about p {
        margin-left: 10px;
        margin-right: 0px;
        text-align: justify;
    }

    .list-hobby {
        flex-direction: column;
    }
}